<div class="list row">
    <h2>Todo 資料維護</h2>
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                    搜尋
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Todo 清單</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let todo of todos; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveTodo(todo, i)">
                {{ todo.title }}
            </li>
        </ul>
        <button class="m-3 btn btn-sm btn-danger" *csdIf (click)="removeAllTodos()">
            刪除所有
        </button>
    </div>
    <div class="col-md-6">
        <app-todo-detail [viewMode]="false" [currentTodo]="currentTodo" (refreshProcess)="refreshList()"></app-todo-detail>
    </div>
</div>