<div class="container-fluid submit-form">
    <form *ngIf="!isAdded" needs-validation [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="note">
            <h2> 新增 Todo </h2>
        </div>

        <div class="mb-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" autofocus formControlName="title" id="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['title'].errors,
                     'is-valid': submitted && !f['title'].errors }" />
            <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                <div *ngIf="f['title'].errors['required']">Title 為必填</div>
            </div>
            <div class="valid-feedback">
                填寫正確
            </div>
        </div>

        <div class="mb-4">
            <label for="description" class="form-label">Description</label>
            <input type="description" formControlName="description" id="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['description'].errors,
                     'is-valid': submitted && !f['description'].errors }" />
            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                <div *ngIf="f['description'].errors['required']">Description 為必填</div>
            </div>
            <div class="valid-feedback">
                填寫正確
            </div>
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary">送出</button>
            <button type="button" (click)="onReset()" class="btn btn-warning float-end">
                重置
            </button>
        </div>
        <div class="alert alert-warning" *ngIf="isAddFailed">
            新增有誤!<br />{{ errorMessage }}
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isAdded">
        新增成功!
    </div>
</div>